<ons-page id="second-page">
  <ons-toolbar>
      <div class="left"><ons-back-button>周辺駅情報</ons-back-button></div>
      <div class="center">駅時刻表</div>
  </ons-toolbar>
  
  <div id="app2">
    <div class="content" style="text-align: center">
      <h1>{{stop_name}}</h1>
   
      <div v-if="now_loading">
        <img src="./images/loading.gif"></img>
        <p>Now Loading ...</p>
      </div>

      <div v-for="s in stop_times">
        <div class="card">
          <h2 class="card__title">{{s.stop_headsign}}</h2>
          <div class="card__content">{{s.departure_time.slice(0,5)}} 発  {{s.trip_id}}</div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let vueappid = mkramstring();
    document.getElementById("app2").setAttribute("id", vueappid);

    // Vueアプリの定義
    var vue = new Vue({
      el: '#app2',
      data:{
        stop_name:'',
        stop_times:[],
        now_loading:true,
        agency_id:'1260001000674'
      }
    });

    // ページ開始時に呼び出される関数
    function initpage(event) {
      // イベント削除
      document.removeEventListener("init", initpage);

      // 前のページからのデータを取得
      var page = event.target;
      console.log(page.data);

      vue.stop_times=[];
      vue.stop_name=page.data.stop_name;

      let c=0;
      for(let i=0;i<page.data.stop_ids.length;i++){

        var url = 'https://[APIアクセスポイントのURL]/timetableapi?stop_id='+page.data.stop_ids[i]+'&agency_id=1260001000674';
        console.log(url);
        axios.get(url)
        .then(function (response) {
        for(let j=0;j<response.data.length;j++){
            vue.stop_times.push(response.data[j]);
        }

        for(let j=0;j<vue.stop_times.length;j++){
            for(let k=j+1;k<vue.stop_times.length;k++){
                if(vue.stop_times[j].departure_time<vue.stop_times[k].departure_time) continue;
                let t = vue.stop_times[j];
                vue.stop_times[j]=vue.stop_times[k];
                vue.stop_times[k]=t;
            }
        }

        c++;
        if(c==page.data.stop_ids.length) vue.now_loading=false;
        console.log(c);
        })
        .catch(function (error) {
        console.log('error occurred');
        });
      }
    }
    document.addEventListener('init', initpage);
    </script>
</ons-page>